/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-Aug-2020, 9:18:24 PM
    Author     : johnc
*/

#parallax{
    position: relative;
    height: 400px;
    margin: 0px;
    width: 100%;
    background: black;
    background-position-y: -400px;
    background-image: url("https://github.com/jcabuguason/OptometryWebsite/blob/master/Storepictures/storepic2.png?raw=true");
    background-size: cover;
    background-attachment: fixed;
}


#letterOuter{
    margin: 100px 0px;
    padding: 20px;
    background: rgba(230,230,250,0.8);
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border-style: double;
    border-color: orangered;
    border-width: 10px;
}
#letterInner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 600px) {
    
    #letterOuter{
        width: 85%;
    }
    
    #parallax{
        height: 200px;
        background-position-y: 80px;
        background-position-x: -120px;
    }
    
}



