/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-Aug-2020, 6:50:21 PM
    Author     : johnc
*/


/*::-webkit-scrollbar {
display: none;
}*/

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 0px;   
    background: whitesmoke;
    font-family: 'Noto Sans JP', sans-serif;
}

h2{
    line-height: 20px;
    font-size: 35px;
    word-spacing: 2px;
    color: orangered;
}

#banner{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#banner > *{
    text-align: center;
}

#companyList{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 80px;
}

.company{
    position: relative;
    margin: 10px;
    padding:8px;
}

.company >img {
    max-width: 180px;
    height: auto;
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 600px) {
    #companyList{
        flex-direction: column;
        align-content: center;
    }
    
    
    
}
