/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-Aug-2020, 10:27:13 PM
    Author     : johnc
*/


#services-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
     max-width: 80%;
}

.services{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.right-service{
    flex-direction: row-reverse;
}


.service-img{
  max-width: 400px;
  height: auto;
  border-radius: 20px;
}




.info{
    margin: 30px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    text-justify:distribute;
    align-content: center;
    padding: 10px;

    border-radius: 40px;
    height: 100%;
}

footer{
    margin-top: 50px;
}
/* Media Queries: Tabled Portrait */
@media screen and (max-width: 700px) {
    .services{
        display: inline-block;
        flex-direction: column;
        align-content: center;
    }
    
    .service-img{
        max-width: 100%;
    }
}
    