/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-Aug-2020, 12:40:14 AM
    Author     : johnc
*/

body{
    display: inline;
}

.banner{
    scroll-behavior: smooth;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8));
}


.banner-imgs{
    display: inline-block;
    height: 400px;
    width: 100%;
}


#image-nav{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    top: -50px;
    margin: 0px;
    padding: 0px;
}



.dot{
    padding: 0px;
    margin: 0px 3px;    
    height: 16px;
    width: 16px;
    background-color: blue;
    border-radius: 100%;
}



.dot:hover{
    cursor: pointer;
}



#media-banner{
    height: 100%;
    max-width: 100%;
    display: none;
}



#media-banner > img{
    max-height: 100%;
    width: 100%;
}



#media-title{
    position: absolute;
    align-self: center;
    left: 48%;
    margin:0px;
    padding: 0px;
    text-align: center;
}



#media{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    display: none;
}



#media > *{
    max-width: 100%;
    height: auto;
    width: 33%; 
    margin: 1px;
}


#hours{
    width: 100%;
    display:flex;
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
    background: whitesmoke;
    color: white;
    border-color: navy;
    border-style: double;
}



#hours > *{
    color: navy;
}



#hours > p{
    line-height: 2px;
}



#insta-feed{
    position: relative;
    padding: 50px;
    width: 60%;
    height: 50%;
}

#parent-insta-feed{
    display: flex;
    justify-content: center;
}


#contact-details{
    background: whitesmoke;
    padding: 40px;
    display: flex;
    flex-direction: row
    
}



footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}



iframe{
    width: 100%;
}


@-webkit-keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}



/* Media Queries: Tablet Landscape */
@media screen and (max-width: 600px) {
        #media-banner > img{
            max-height: 30%;
            width: 100%;
        }
        
        #contact-details{
    flex-direction: column-reverse;
}

    #insta-feed{
    width: 100%;
}
}
